<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img src="../../assets/imgs/uanderson costa.png" alt="Uanderson Costa">
      <ion-card-header>
        <ion-card-title>Uanderson Costa</ion-card-title>
        <ion-card-subtitle>23103530</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Aplicativo feito para a avaliação formadora - competencia 1
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>